body {
   color: #66bfbf;
   font-family: "Lexend Deca", sans-serif;
}
h1 {
   margin-right: 100px;
   text-transform: capitalize;
}
form {
   border: none;
   border-radius: 15px;
   margin-top: 10px;
   position: relative;
   top: 10px;
}
ul {
   list-style: none;
}
p {
   font-size: 20px;
}
a {
   color: #facc78;
   text-decoration: none;
}
.container {
   background: #eaf6f6;
   border: solid 8px #407088;
   border-radius: 20px;
   box-shadow: 5px 3px 10px 3px rgba(100, 29, 44, 0.3);
   margin-top: 50px;
   max-width: 800px;
   padding: 30px;
}
.today {
   text-align: center;
   margin: 15px;
}
.button {
   background: #facc78;
   border: none;
   border-radius: 10px;
   color: white;
   padding: 5px 10px;
   transition: 200ms ease-in-out;
}
.button:hover {
   background: #fae8ff;
   border: solid 1px #ffae18;
   color: #ffae18;
}
.main-icon {
   text-align: center;
}
.active {
   color: #66bfbf;
   cursor: default;
}
.active:hover {
   text-decoration: none;
}
.forecast {
   font-size: 20px;
   margin: 0 auto;
   text-align: center;
   max-width: 550px;
}
.forecastTemp{
font-size: 17px;
}
.forecastIcon {
   max-width: 60px;
}
#max{
   color: #ffae18;
}
#current-location {
   padding: 5px 10px;
}
.footer {
   text-align: center;
}


/* old css
background: radial-gradient(
      circle at 10% 20%,
      rgb(255, 214, 171) 0%,
      rgb(255, 182, 182) 90%
   );
